@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway:wght@300&display=swap');
/* global styles */

i {
    color: white;
}

body { 
    font-family: 'Raleway', sans-serif;
}
/* global styles end */


/* Nav and header */
.background-img {
    background-image: url(/img/headerVar1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.nav-wrapper {
    background-color: rgba(54, 30, 24, 0.6);
    box-shadow:inset 0 0 0 2000px rgba(43, 40, 41, 0.3);
}

.nav-wrapper a{
    color: white;
    font-family: 'Cinzel', serif;
}

.nav-item {
    padding: 0.5rem 2rem;
}

.site-name {
    color:#fff4e6;
    
}

.site-name h1 {
    font-size: 3rem;
    font-family: 'Cinzel', cursive;
}
.site-name p {
    font-size: 1.3rem;
    font-weight: lighter;
}
.oval {
    width: 60%;
    height: auto;
    background: rgb(75, 56, 50, 75%);
    border-radius: 50%;
    padding: 10% 0;
}
/* Nav and header end */


/* Our model section */

.our-model-wrapper {
    width: 95%;
    padding: 10rem;
}

.section-header {
    padding: 2rem;
    
}

.section-header h1 {
    font-family: 'Cinzel', serif;
    font-size: 2.5rem;
}

.model {
    padding: 1rem;
}

.check-icon {
    width: 20%;
}
.model-details{
    width: 80%;
}

.model img {
    max-width: 70%;
    height: auto;
}
/* Our model end */


/* Our space section */

#our_space {
    background-image: url('/img/carouselBG1.jpg');
    background-size: cover;
    background-position: center;
}
.our-space-section {
    width: 100%;
    background-color: rgb(60, 47, 47, 89%);
}

.our-space-header h1{
    color:white;
    font-family: 'Cinzel', serif;
}

.carousel-inner {
    width: 70%;
}
.carousel-inner img {
    max-width: 100%;
    height: auto;
}

/* Our space section end */


/* get-in-touch section  */
.get-in-touch {
    width: 90%;
    margin: 13rem 0;
}   

.contact-btn {
    background-color:  rgb(114, 66, 66);
    color: white;
}

/* get-in-touch end */

/* footer start */
.site-footer {
    background-color: rgb(114, 66, 66);
    color:white;
}

.footer-navigation a {
    margin-right: 3rem;
    color: white;
}

.footer-nav-item {
    margin-right: 3rem;
}

.white-line {
    height: 0.02rem;
    width: 40%;
    background-color: white;
}

/* footer end */
@media (max-width: 576px) { 
    html {
        font-size: 10px;
    }


}